<!doctype html>
<html lang="en">
<head>
  <!--Links que serão exibidos-->
  <link rel="stylesheet" href="../_css/style.css" />
  <meta charset="utf-8">
  <link rel="manifest" href="manifest.json">
  <link rel="icon" type="imagem/png" href="icon-512x512.png" />
  <link rel="apple-touch-icon" type="imagem/png" href="icon-512x512.png" />
  <link rel="shortcut icon" type="imagem/png" href="icon-512x512.png" /> 
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" type="image/x-icon" href="favicon.ico">
</head>
<body>
  <h1>Home</h1>

  <div>
    <a class="button" href="/">Page 1</a>
    <a class="button" href="page2">Page 2</a>
    <a class="button" href="#">Page 3</a>
    <a class="button" href="#">Page 4</a>
  </div>

  <p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi vitae quam nec ante semper dictum. Duis ac finibus mauris, scelerisque iaculis sapien. Duis vitae ullamcorper risus. Pellentesque fringilla, mauris ut varius rutrum, nunc enim aliquam tellus, sed gravida leo neque et est. Donec bibendum libero id augue sodales, in molestie magna suscipit. Pellentesque malesuada odio id eros vehicula dictum. Curabitur tempor odio ac sem cursus, sed ullamcorper eros rhoncus. Nullam eros sapien, accumsan sed dolor vitae, ullamcorper consequat enim. 
  </p>
  <h2>
    Teste Título
  </h2>
  <p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi vitae quam nec ante semper dictum. Duis ac finibus mauris, scelerisque iaculis sapien. Duis vitae ullamcorper risus. Pellentesque fringilla, mauris ut varius rutrum, nunc enim aliquam tellus, sed gravida leo neque et est. Donec bibendum libero id augue sodales, in molestie magna suscipit. Pellentesque malesuada odio id eros vehicula dictum. Curabitur tempor odio ac sem cursus, sed ullamcorper eros rhoncus. Nullam eros sapien, accumsan sed dolor vitae, ullamcorper consequat enim. 
  </p>
  <h2>
    Teste Título
  </h2>
  <p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi vitae quam nec ante semper dictum. Duis ac finibus mauris, scelerisque iaculis sapien. Duis vitae ullamcorper risus. Pellentesque fringilla, mauris ut varius rutrum, nunc enim aliquam tellus, sed gravida leo neque et est. Donec bibendum libero id augue sodales, in molestie magna suscipit. Pellentesque malesuada odio id eros vehicula dictum. Curabitur tempor odio ac sem cursus, sed ullamcorper eros rhoncus. Nullam eros sapien, accumsan sed dolor vitae, ullamcorper consequat enim. 
  </p>
  <h2>
    Teste Título
  </h2>
  <p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi vitae quam nec ante semper dictum. Duis ac finibus mauris, scelerisque iaculis sapien. Duis vitae ullamcorper risus. Pellentesque fringilla, mauris ut varius rutrum, nunc enim aliquam tellus, sed gravida leo neque et est. Donec bibendum libero id augue sodales, in molestie magna suscipit. Pellentesque malesuada odio id eros vehicula dictum. Curabitur tempor odio ac sem cursus, sed ullamcorper eros rhoncus. Nullam eros sapien, accumsan sed dolor vitae, ullamcorper consequat enim. 
  </p>
  <h2>
    Teste Título
  </h2>
  <p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi vitae quam nec ante semper dictum. Duis ac finibus mauris, scelerisque iaculis sapien. Duis vitae ullamcorper risus. Pellentesque fringilla, mauris ut varius rutrum, nunc enim aliquam tellus, sed gravida leo neque et est. Donec bibendum libero id augue sodales, in molestie magna suscipit. Pellentesque malesuada odio id eros vehicula dictum. Curabitur tempor odio ac sem cursus, sed ullamcorper eros rhoncus. Nullam eros sapien, accumsan sed dolor vitae, ullamcorper consequat enim. 
  </p>

  <script>
    if ('serviceWorker' in navigator) {
      navigator.serviceWorker.register('generate-sw.js');
    }
  </script>

</body>
</html>
